@import url("https://raw.githubusercontent.com/scattagain/VencordStuff/refs/heads/main/css/GuildbarRevert.css");
/* ^^ revert the awful new server bar */

/* extra spacing below most recent message (more like old UI) */
.channelBottomBarArea_f75fb0 {
  margin-top: 0.5rem !important;
}

/* Members list spacing/padding */
.memberInner__5d473 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

/* some list thing padding */
.listRow__9d78f {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

/* Non-nitro profile background color */
.outer_c0bea0 {
  /* background-color: black; */
    background-color: var(--app-background-frame) !important;
}

/* old user area */
/* commented out because it seems to have stopped working */
/* .visual-refresh section[aria-label="User area"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);;
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav:has([data-list-id="guildsnav"]) {
  margin-bottom: unset;
} */

/* new user area revert */
.visual-refresh div[class^="sidebar_"] section[class^="panels_"] {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) + 1px);
    left: var(--custom-guild-list-width);
    bottom: 0px;
    border-radius: 0px;
    border: none;
}

.visual-refresh nav[class*=guilds_] {
  margin-bottom: unset;
}

/* right click menu border */
[class*=menu_][class*=flexible_] {
    /* border: 1px solid #696779; */
    border: 1px solid var(--input-border)
}

/* make server title thing at the top left aligned */
.title_c38106 { 
  margin-left: 14px; 
  justify-content: left;            
}
